OPENAI_API_KEY=your-openai-key
OPENROUTER_API_KEY=your-openrouter-key
ANTHROPIC_API_KEY=your-anthropic-key
GROQ_API_KEY=your-groq-key
GEMINI_API_KEY=your-gemini-key

# Url for the database, this is so that the cli can save the api key hash
DATABASE_URL=postgres://user:pass@localhost:5432/pinwheel-db?sslmode=disable